@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F3EDC8;
}

section {
    display: flex;
}

h2, h3, h4, h5, a, p {
    font-family: Arial, sans-serif;
}

h1 {
    font-family: "Anta", sans-serif;
    color: #EAD196;
    background-color: #7D0A0A;
    margin: 0;
    padding: 1vw;
}

img {
    width: 15vw;
    height: 25vw;
    object-fit: cover;
    border-radius: 2px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#movies li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1vw;
    padding: 1vw;
    border-radius: 3px;
    list-style-type: none;
    width: 17vw;
    background-color: #EAD196;
    transition: 0.5s ease-in-out;
}

#movies li:hover {
    scale: 102%;
}

#movies li p {
    font-family: "Anta", sans-serif;
    color: #7D0A0A;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
}

#movies li div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#movies li a, button {
    font-family: "Anta", sans-serif;
    text-align: center;
    background-color: #BF3131;
    color: #F3EDC8;
    padding: 10px;
    margin: 5px;
    border-radius: 2px;
    transition: 0.2s ease-in-out;
    border: none;
}

#movies li a:hover, button:hover {
    background-color: #F3EDC8;
    color: #BF3131;
}

footer {
    background-color: #BF3131;
    padding: 4vh;
    color: #F3EDC8;
}

footer p {
    font-family: "Anta", sans-serif;
}

dialog::backdrop {
    background-color: #170101;
    opacity: 50%;
}

#movie-details {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #EAD196;
    background-color: #7D0A0A;
    border: 5px solid #EAD196;
    border-radius: 7px;
}

#movie-details button:hover {
    color: #EAD196;
    background-color: #7D0A0A;
}

#movie-genre {
    background-color: #BF3131;
    color: #7D0A0A;
    padding: 0.7vw 0;
    border-radius: 2vw;
    font-weight: bold;
}

#movie-release {
    padding: 0.7vw 0;
    font-weight: bold;
}

#modal-content {
    display: flex;
    max-width: 50vw;
}

#modal-content img {
    border: 5px solid #EAD196;
}

#modal-content div {
    padding: 3vw 2vw 1vw 2vw;
}

#modal-content h2 {
    font-family: "Anta", sans-serif;
    font-size: 3rem;
}

.on-watchlist {
    color: #EAD196;
    background-color: #7D0A0A;
}

#img-div {
   flex: 1;
}

#movie-div {
    flex: 2;
}

@media (max-width: 450px) {
    li {
        width: 70vw;
        margin: 4vw;
    }
    img {
        width: 50vw;
        height: 65vh;
        margin: 5vw 0 0 0;
    }
}